body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 600px;
  justify-content: center;
  border-radius: 20px;
  /*
  box-shadow: 1px 0px 20px 2px rgb(0, 0, 0, 0.4);*/
}

.left {
  color: hsl(241, 100%, 89%);
  padding: 20px;
  width: 40%;
  border-radius: 20px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.right {
  width: 50%;
  padding: 20px;
}

.left h4 {
  text-align: center;
}

.score-left {
  padding: 50px;
  width: 74px;
  height: 74px;
  border-radius: 100%;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

  /* box-shadow: inset 1px 1px 12px 0px hsla(256, 72%, 46%, 1);*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.big-score {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.left h3 {
  color: white;
  text-align: center;
}
.left p {
  width: 200px;
  height: 70px;
  color: hsl(241, 100%, 89%);
  text-align: center;
  margin: auto;
}
/*
.score-con{

}
/*
  Continue
  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
  */
